@model Client.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(model => model.customer.Id)

    <table cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <td>
                    @Html.TextBoxFor(model => model.customer.Name)
                </td>
            </tr>
            <tr>
                <th>
                   Phone Number
                </th>
                <td>
                    @Html.TextBoxFor(model => model.customer.Contact)
                </td>
            </tr>
            <tr>
                <th>
                    Address
                </th>
                <td>
                    @Html.TextBoxFor(model => model.customer.Address)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Update" />
                </td>
            </tr>
        </thead>
    </table>
}
