@model Client.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    <table cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(model => model.category.Name)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.category.Name)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </thead>
    </table>
}